.logement-description {
    margin-top: 20px;
  }
  
  .host-info {
    margin-top: 20px;
  }
  
  .host-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .logement_infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .appart_info {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .logement_title {
    color: #FF6060;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin: 50px 0 0;
  }
  
  .logement_location {
    font-weight: 500;
    margin: 0 0;
  }
  
  .logement-description {}
  
  .host-info {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: start;
    margin: 50px 0 0;
  }