.container_description{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 57vh;
    box-sizing: border-box;
    max-width: 100%;
    gap: 2rem;
   }
  
  .navbar_description {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #F6F6F673;
  }
  
  .navbar_toogle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #FF6060;
    color: white;
    height: 54px;
    border-radius: 5px 5px 0 0;
    padding: 0 15px;
    box-sizing: border-box;
    min-width: 80vw;
  }
  
  .navbar_toogle_title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0; 
  }
  
  .navbar_toogle_btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer; 
  }
  
  
  .navbar_arrow {
    transition: transform 0.3s ease; 
  }
  
  .navbar_arrow.rotate {
    transform: rotate(180deg); 
  }

  .navbar_collapse {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; 
    padding: 0;
}

.navbar_collapse.open {
    max-height: 300px; 
    padding: 1rem;
}
