.App {
  margin: 45px 110px;
}
.Welcome{
  border-radius: 25px;
  height: 223px;
  background-size: auto;
}


@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {

}

.App-link {
}

@keyframes App-logo-spin {
  from {
    
  }
  to {
    
  }
}
