*{
  font-family: "Montserrat", sans-serif;
}

body {
  margin:0;
  box-sizing: border-box;
}

/* PAGE 404 */
.fourzerofour{
  min-height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_404{
  font-size: 12rem;
  color: #FF6060;
  margin: 2rem auto;
}

.texte_404{
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #FF6060;;
}

/* PAGE LOGEMENT */
.fiche-logement {
  min-height: 67vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.logement-description {
  margin-top: 20px;
}

.host-info {
  margin-top: 20px;
}

.host-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.logement_infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appart_info{
  display: flex;
  flex-direction: column;
  text-align: start;
}

.logement_title{
color: #FF6060;
text-transform: uppercase;
font-size: 2rem;
font-weight: 500;
margin: 50px 0 0;
}
.logement_location{
  font-weight: 500;
  margin: 0 0 ;
}
.logement-description{
}
.host-info{
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: start;
  margin: 50px 0 0 ;
}
.host-name{
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
  text-align: right;
  margin: 0 15px 0 0 ;
}

.hashtags{
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  gap: 1rem ;
  align-items: center;
  flex-wrap: wrap;

}
.hashtag{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  min-width: 115px ;
  padding:  0 25px;
  height: 35px;
  background-color: #FF6060;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .welcome{
    font-size: 1.5rem;
  }
  .container_cards{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card{
    width: 100%;
  }
}
