/* PAGE 404 */
.fourzerofour{
    min-height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title_404{
    font-size: 12rem;
    color: #FF6060;
    margin: 2rem auto;
  }
  
  .texte_404{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #FF6060;;
  }